.fondop {
	background-image: url(../../images/fondop1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#header-cintillo {
	background-image: url(../../images/cintillo.png) !important;
	background-size:100% 100%;
	background-repeat: no-repeat !important;
}
#banner {
	background-image: url(../../images/fondo_banner.png);
}
#banner1{
}
#imgperfil {
	border-radius: 10px;
	border: solid;
}
.btn-file input[type=file] {
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}
.glyph-lg {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;	
}

.a-print {
	color: white;
}

.menu-inf {
padding: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(51, 51, 51, 0.07);
    border-radius: 20px;
    color: #495b6f;
    text-decoration: none;
}
.menu-inf:hover {
    background-color: #3b5065;
	color: #d4d4d4;
}

.email {
	text-decoration: underline;
	color: white;
}

#user {
	font-weight: bold;
}
